body, ul, li, table, tr, td, h2 {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;} 
.clearfix {display: inline-block;}

.showcase {
	border: solid 1px #ccc;
	width: 800px;
	height: 600px;
	margin: 1cm auto;
	position: relative;
}

.backbutton, 
.nextbutton {
	position: absolute;
	width: 50%;
	text-align: center;
	height: 10%;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
	color: #fff;
	font-size: 40px;
	cursor: pointer;
	opacity: 0.5;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.backbutton {
	left: 0;
}

.nextbutton {
	right: 0;
}

.thumbsbutton {
	width: 60px;
	height: 40px;
	background: url(thumbs.gif);
	position: absolute;
	top: 40px;
	right: 40px;
	cursor: pointer;
	opacity: 0.5;
}

.hoverclass:hover, 
.thumbsbutton:hover {
	opacity: 1;
}

.slides, 
.thumbnails {
	width: 760px;
	height: 560px;
	border: solid 1px #fcfcfc;
	margin: 20px auto;
}

.slides {
	overflow: hidden;
}

.thumbnails {
	display: none;
	overflow: auto;
}

.thumbnails-item {
	width: 23%;
	height: 23%;
	margin: 1%;
	float: left;
	background: #d0ed12;
	overflow: hidden;
	cursor: pointer;
}

.preview {
	padding: 8px;
}

.slides-item.showing {
	display: block;
}

.slides-item {
	width: 100%;
	height: 100%;
}
.slides-item>img, 
.thumbnails-item img {
	height: 100%;
	display: block;
	margin: 0 auto;
}

.slides-item.h-align img,
.thumbnails-item.h-align img {
	width: 100%;
	height: auto;
}

.slides-item table img,
.slides-item ul img,
.slides-item table img,
.slides-item div img {
	width: 20%;
	margin: 0 auto;
	display: block;
}

.slides-item ul,
.slides-item table {
	width: 75%;
	margin: 70px auto;
}

.slides-item thead {
	text-align: center;
}

.slides-item tr, 
.slides-item td, 
.slides-item th,
.slides-item li {
	padding: 8px;
}